Other hashing algorithms

Is it a good idea to add optional support for other hashing algorithms like blake3 or blake3? Or is it out of scope for this project? 

Ed25519 is EdDSA instantiated with SHA-512 as the hash function.

EdDSA constructions which are instantiated with other hash functions are incompatible EdDSA variants which are not "Ed25519".

I saw this project, https://github.com/rmw-lib/ed25519-dalek-blake2b

Does this mean that Ed25519 is by design tied to sha512 or is it just to comply with the design spec? 

From [RFC 8032 Section 5.1](https://tools.ietf.org/html/rfc8032#section-5.1), "Ed25519" is always instantiated with SHA-512:

```
5.1.  Ed25519ph, Ed25519ctx, and Ed25519

   Ed25519 is EdDSA instantiated with:

   +-----------+-------------------------------------------------------+
   | Parameter | Value                                                 |
   +-----------+-------------------------------------------------------+
   |     p     | p of edwards25519 in [RFC7748] (i.e., 2^255 - 19)     |
   |     b     | 256                                                   |
   |  encoding | 255-bit little-endian encoding of {0, 1, ..., p-1}    |
   |  of GF(p) |                                                       |
   |    H(x)   | SHA-512(dom2(phflag,context)||x) [RFC6234]            |
   |     c     | base 2 logarithm of cofactor of edwards25519 in       |
   |           | [RFC7748] (i.e., 3)                                   |
   |     n     | 254                                                   |
   |     d     | d of edwards25519 in [RFC7748] (i.e., -121665/121666  |
   |           | = 370957059346694393431380835087545651895421138798432 |
   |           | 19016388785533085940283555)                           |
   |     a     | -1                                                    |
   |     B     | (X(P),Y(P)) of edwards25519 in [RFC7748] (i.e., (1511 |
   |           | 22213495354007725011514095885315114540126930418572060 |
   |           | 46113283949847762202, 4631683569492647816942839400347 |
   |           | 5163141307993866256225615783033603165251855960))      |
   |     L     | order of edwards25519 in [RFC7748] (i.e.,             |
   |           | 2^252+27742317777372353535851937790883648493).        |
   |   PH(x)   | x (i.e., the identity function)                       |
   +-----------+-------------------------------------------------------+
```

It would be more appropriate to describe a variant of Ed25519 that uses an alternative hash function as EdDSA-*

Got it! 